<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Upload File</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/header.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}" type="text/css">
</head>
<div class="header">
  <a href="/" class="logo">Home</a>
  <div class="header-right">
      <a href="/upload">Upload EEG</a>
      <a href="/predict">Predict</a>
      <a href="https://arshiasharma4.github.io/SeizureEShield/" target="_blank">About Us</a>
  </div>
</div>
<body>
    <h1>Upload EDF File</h1>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <p></p><p></p><p></p>
    <footer class="py-5 bg-dark">
      <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; SeizurEShield 2024</p>
      </div>
  </footer>
</body>
</html>
